<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csharpStockApp.Properties.Settings.stockDatabaseConnectionString"
            connectionString="Data Source=TRAINER-LAB1\SERVER;Initial Catalog=stockDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="csharpStockApp.Properties.Settings.STOCKMANAGEMENTDBConnectionString"
            connectionString="Data Source=DESKTOP-Q65C244\SERVER;Initial Catalog=STOCKMANAGEMENTDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>